### System/log files ###
.DS_Store
*.log
.nb-gradle-properties

## Compiled files ###
frontend/build/
backend/build/
*.class
*.jar
*.war

## Gradle files ###
.nb-gradle/
.gradle/
config/
!gradle-wrapper.jar

## Grunt Files ##
frontend/node_modules/
