
@font-face {
    font-family: lobster;
    src: url("Lobster.otf") format("opentype");
}

html {
    overflow-x: hidden;
    width:100%;
    height:100%;
    margin: 0;
    padding: 0;
    font-family: monospace;
}

body {
    margin: auto;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

a {
    text-decoration: none;
}

#main-content {
    display: block;
    width: 100%;
    margin: 10px;
    margin-top: 40px
}

#question-wrapper {
    display: inline-block;
    width: 50%;
    height: 500px;
}

#questions {
    height: 90%;
    width: 90%;
    border: gainsboro solid 1px;
    box-shadow: 0px 0px 10px #BBB;
    margin: 20px;
    background-color: #FFF;
}  

#grade-wrapper {
    width: 100%;
    height: 50px;
    margin: 20px 0 20px 0;
}

#grade {
    display: block;
    width: 80%;
    margin: auto;
    height: 50px;
}

#grade > div {
    display: block;
    position: absolute;
    width: 80%;
    height: 20px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 10px;
}

#grade .done {
    width: 40%;
    border-radius: 10px 0px 0px 10px;
    background-image: url("correct.png");
}

#grade .left {
    background-image: url("incorrect.png");
}

#reference-wrapper {
    display: inline-block;
    width: 100%;
    height: 300px;
    vertical-align: top;
}

#reference {
    height: 100%;
    width: 100%;
    border-top: solid 2px #90A0B0;
    background-color: #708090;
    margin: 0;
}
