
#nav-bar {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    
    padding: 10px;
    margin: 0;
    width: 100%;
    height: 15px;
    
    font-family: lobster;
    font-size: 14pt;
    color: #773500;
    background-color: #FFA500;
    border-bottom: solid 2px #DD8500;
    border-top: solid 2px #FFD500;
}

.nav-label {
    display: inline-block;
    padding: 10px;
}
